
    
.Title h1{
    font-family: ;
    font-size: 50px;
    text-align: center;
    color: #f1c30e;
    margin-top: 150px;
    margin-bottom: 70px;
}
.container1{
height: 50vh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;

}
.swipe{
    height: 100%;
    flex-basis:50%;
    flex-shrink: 1;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swipe:hover{
    flex-basis: 85%;
}

